In [1]:
import pandas as pd
import numpy as np

In [2]:
MNCAA = pd.read_csv('data/Stage1/MNCAATourneyDetailedResults.csv')
RegularSeason = pd.read_csv('data/Stage1/MRegularSeasonDetailedResults.csv')

df_features = pd.concat([MNCAA,RegularSeason])
MNCAA.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [3]:
MNCAA = MNCAA.loc[MNCAA['Season'] >= 2003]
MNCAA.loc[:,'Competition'] = 'MNCAA'
MNCAA.loc[:,'WTeam'] = 0

for i,_ in enumerate(MNCAA.iterrows()):
    if MNCAA.iloc[i,2] > MNCAA.iloc[i,4]:
        MNCAA.iloc[i,2],MNCAA.iloc[i,4] = MNCAA.iloc[i,4],MNCAA.iloc[i,2]
        MNCAA.iloc[i,35] = 1

        
MNCAA = MNCAA.rename(columns={"WTeamID": "Team0_ID", "LTeamID": "Team1_ID"})

MNCAA.head(15)

,Season,DayNum,Team0_ID,WScore,Team1_ID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Competition,WTeam
0,2003,134,1411,92,1421,84,N,1,32,69,...,31,17,28,16,15,5,0,22,MNCAA,1
1,2003,136,1112,80,1436,51,N,0,31,66,...,7,8,26,12,17,10,3,15,MNCAA,0
2,2003,136,1113,84,1272,71,N,0,31,59,...,21,20,22,11,12,2,5,18,MNCAA,0
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,14,17,20,21,6,6,21,MNCAA,0
4,2003,136,1143,76,1301,74,N,1,27,64,...,20,10,26,16,14,5,8,19,MNCAA,0
5,2003,136,1140,58,1163,53,N,0,17,52,...,13,15,26,11,11,8,4,22,MNCAA,1
6,2003,136,1161,67,1181,57,N,0,19,54,...,22,11,24,8,19,5,4,19,MNCAA,1
7,2003,136,1153,74,1211,69,N,0,20,47,...,10,13,22,13,10,7,6,24,MNCAA,1
8,2003,136,1228,65,1443,60,N,0,24,56,...,13,17,18,10,14,6,5,16,MNCAA,0
9,2003,136,1242,64,1429,61,N,0,28,51,...,10,13,19,13,13,6,1,15,MNCAA,0
10,2003,136,1221,72,1266,68,N,0,22,51,...,25,14,20,14,9,4,1,20,MNCAA,1
11,2003,136,1281,72,1356,71,N,0,28,52,...,21,11,18,19,13,6,0,19,MNCAA,0
12,2003,136,1323,70,1454,69,N,0,23,54,...,20,14,23,15,12,11,3,25,MNCAA,0
13,2003,136,1328,71,1354,54,N,0,24,52,...,8,7,22,8,18,7,2,23,MNCAA,0
14,2003,136,1360,77,1390,69,N,0,29,64,...,32,17,25,7,11,3,0,18,MNCAA,1

In [4]:
RegularSeason = RegularSeason.loc[RegularSeason['Season'] >= 2003]
RegularSeason.loc[:,'Competition'] = 'RegularSeason'
RegularSeason.loc[:,'WTeam'] = 0

for i,_ in enumerate(RegularSeason.iterrows()):
    if RegularSeason.iloc[i,2] > RegularSeason.iloc[i,4]:
        RegularSeason.iloc[i,2],RegularSeason.iloc[i,4] = RegularSeason.iloc[i,4],RegularSeason.iloc[i,2]
        RegularSeason.iloc[i,35] = 1
        
RegularSeason = RegularSeason.rename(columns={"WTeamID": "Team0_ID", "LTeamID": "Team1_ID"})

RegularSeason

,Season,DayNum,Team0_ID,WScore,Team1_ID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Competition,WTeam
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,10,22,8,18,9,2,20,RegularSeason,0
1,2003,10,1272,70,1393,63,N,0,26,62,...,20,20,25,7,12,8,6,16,RegularSeason,0
2,2003,11,1266,73,1437,61,N,0,24,58,...,23,31,22,9,12,2,5,23,RegularSeason,0
3,2003,11,1296,56,1457,50,N,0,18,38,...,15,17,20,9,19,4,3,23,RegularSeason,0
4,2003,11,1208,77,1400,71,N,0,30,61,...,27,21,15,12,10,7,1,14,RegularSeason,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87499,2019,132,1153,69,1222,57,N,0,22,50,...,18,17,16,8,7,2,4,19,RegularSeason,0
87500,2019,132,1209,73,1426,64,N,0,20,50,...,17,13,28,12,14,5,2,24,RegularSeason,0
87501,2019,132,1276,65,1277,60,N,0,22,55,...,12,3,26,17,6,5,5,11,RegularSeason,1
87502,2019,132,1382,55,1387,53,N,0,22,59,...,10,13,30,9,11,2,7,16,RegularSeason,1
87503,2019,132,1217,97,1463,85,H,0,32,53,...,24,12,15,7,9,1,2,22,RegularSeason,1

# Implémentation des features

## Features de performances sportives des équipes

### Features de victoires défaites

In [10]:
df = pd.concat([MNCAA,RegularSeason])
df=df[['Season','DayNum','Team0_ID','Team1_ID']]

In [11]:
df_count_victoire =df_features[['Season','WTeamID']]
df_count_victoire['victoire'] = 1
df_count_defaite=df_features[['Season','LTeamID']]
df_count_defaite['defaite']=1

df_victoire = df_count_victoire.groupby(['Season','WTeamID'],as_index=False).count()
df_defaites = df_count_defaite.groupby(['Season','LTeamID'],as_index=False).count()

/home/lena/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/lena/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [12]:
df_count = pd.merge(df_victoire ,df_defaites, right_on = ['Season','LTeamID'],left_on = ['Season','WTeamID'], how='left' )
df_count.drop('LTeamID', axis=1,inplace = True)
df_count.rename(columns={'WTeamID':'TeamID'},inplace = True)

In [13]:
df_count['PourVictoire']=df_count['victoire']/(df_count['victoire']+df_count['defaite'])
df_count['PourcDefaite']=1-df_count['PourVictoire']

In [14]:
df_count.drop(['victoire','defaite'], axis=1,inplace = True)

In [15]:
df_count

      Season  TeamID  PourVictoire  PourcDefaite
0       2003    1102      0.428571      0.571429
1       2003    1103      0.481481      0.518519
2       2003    1104      0.586207      0.413793
3       2003    1105      0.269231      0.730769
4       2003    1106      0.464286      0.535714
...      ...     ...           ...           ...
5824    2019    1462      0.545455      0.454545
5825    2019    1463      0.724138      0.275862
5826    2019    1464      0.333333      0.666667
5827    2019    1465      0.461538      0.538462
5828    2019    1466      0.241379      0.758621

[5829 rows x 4 columns]

### Définition des features en match - pour une équipe

In [16]:
# Précision au shoot = tirs réussis/tirs tentés
df_features['WPre'] = df_features['WFGM']/df_features['WFGA']
df_features['LPre'] = df_features['LFGM']/df_features['LFGA']

#Précision au 3pts = trois points réussis/trois points tentés
df_features['WPre3'] = df_features['WFGM3']/df_features['WFGA3']
df_features['LPre3'] = df_features['LFGM3']/df_features['LFGA3']

#Pourcentage de trois pts = trois points réussis/tirs réussis
df_features['WPourc3'] = df_features['WFGM3']/df_features['WFGM']
df_features['LPourc3'] = df_features['LFGM3']/df_features['LFGM']

#Pourcentage de passes décisive = nb passes décisives/nb de tirs réussis
df_features['WPourcAst'] = df_features['WAst']/df_features['WFGM']
df_features['LPourcAst'] = df_features['LAst']/df_features['LFGM']

In [17]:
# Pourcentage de Blocs = Nb de block de l'équipe/Nb de shoots tentés par l'équipe adverse
df_features['WBlocks'] = (df_features['WBlk']) / (df_features['LFGA'])
df_features['LBlocks'] = (df_features['LBlk']) / (df_features['WFGA'])

# Pourcentage de récupération de balles = (Rebond défensif + vols de balles)/pertes de balles
df_features['WRecupBall'] = (df_features['WDR']+df_features['WStl']) / df_features['WTO']
df_features['LRecupBall'] = (df_features['LDR']+df_features['LStl']) / df_features['LTO']

In [18]:
#On conserve uniquement les features intéressantes
df_features = df_features[['Season','WTeamID','WScore','WPre','WPre3','WPourc3','WPourcAst','WBlocks','WRecupBall','LTeamID','LScore','LPre','LPre3','LPourc3','LPourcAst','LBlocks','LRecupBall']]

Pour obtenir un paramètre par équipe moyens, on sépare la base de données en deux pour récupérer uniquement les données concernant l'équipe en question.
On récupère d'abord les données quand elle gagne puis quand elle perd

In [19]:
WFeatures = df_features.groupby(['Season','WTeamID'],as_index=False).mean()
LFeatures = df_features.groupby(['Season','LTeamID'],as_index=False).mean()

In [20]:
WFeatures.drop(['LTeamID','LScore','LPre','LPre3','LPourc3','LPourcAst','LBlocks','LRecupBall'], axis=1,inplace= True)
WFeatures.rename(columns={'WTeamID':'TeamID','WScore':'Score','WPre':'Pre','WPre3':'Pre3','WPourc3':'Pourc3','WPourcAst':'PourcAst','WBlocks':'Blocks','WRecupBall':'RecupBall'}, inplace=True)

In [21]:
LFeatures.drop(['WTeamID','WScore','WPre','WPre3','WPourc3','WPourcAst','WBlocks','WRecupBall'], axis =1, inplace =True)
LFeatures.rename(columns={'LTeamID':'TeamID','LScore':'Score','LPre':'Pre','LPre3':'Pre3','LPourc3':'Pourc3','LPourcAst':'PourcAst','LBlocks':'Blocks','LRecupBall':'RecupBall'}, inplace=True)

### Rassemblement des features de performances

In [22]:
Features = pd.merge(WFeatures,LFeatures,left_on=['Season','TeamID'],right_on=['Season','TeamID'])
Features = pd.merge(Features,df_count,left_on=['Season','TeamID'],right_on=['Season','TeamID'])

Pour chaque équipe les features sont présentes deux fois (lorsqu'elle gagne et lorsqu'elle perd). Nous avons donc pris la moyenne de chaque features pondérées par le pourcentage de victoire et de défaite.

In [23]:
Features['Score']=Features['PourVictoire']*Features['Score_x']+Features['PourcDefaite']*Features['Score_y']
Features.drop(['Score_x','Score_y'],axis = 1,inplace =True)

Features['Pre']=Features['PourVictoire']*Features['Pre_x']+Features['PourcDefaite']*Features['Pre_y']
Features.drop(['Pre_x','Pre_y'],axis = 1,inplace =True)

Features['Pre3']=Features['PourVictoire']*Features['Pre3_x']+Features['PourcDefaite']*Features['Pre3_y']
Features.drop(['Pre3_x','Pre3_y'],axis = 1,inplace =True)

Features['Pourc3']=Features['PourVictoire']*Features['Pourc3_x']+Features['PourcDefaite']*Features['Pourc3_y']
Features.drop(['Pourc3_x','Pourc3_y'],axis = 1,inplace =True)

Features['PourcAst']=Features['PourVictoire']*Features['PourcAst_x']+Features['PourcDefaite']*Features['PourcAst_y']
Features.drop(['PourcAst_x','PourcAst_y'],axis = 1,inplace =True)

Features['Blocks']=Features['PourVictoire']*Features['Blocks_x']+Features['PourcDefaite']*Features['Blocks_y']
Features.drop(['Blocks_x','Blocks_y'],axis = 1,inplace =True)

Features['RecupBall']=Features['PourVictoire']*Features['RecupBall_x']+Features['PourcDefaite']*Features['RecupBall_y']
Features.drop(['RecupBall_x','RecupBall_y'],axis = 1,inplace =True)

In [24]:
Features

,Season,TeamID,PourVictoire,PourcDefaite,Score,Pre,Pre3,Pourc3,PourcAst,Blocks,RecupBall
0,2003,1102,0.428571,0.571429,57.250000,0.486149,0.367637,0.400838,0.665276,0.041016,2.245848
1,2003,1103,0.481481,0.518519,78.777778,0.487294,0.331990,0.207162,0.560276,0.042180,2.261533
2,2003,1104,0.586207,0.413793,69.034483,0.419794,0.328588,0.268179,0.507395,0.069374,2.459889
3,2003,1105,0.269231,0.730769,71.769231,0.396204,0.359630,0.313961,0.593128,0.035770,1.870235
4,2003,1106,0.464286,0.535714,63.607143,0.425530,0.350196,0.267514,0.496643,0.057098,1.982275
...,...,...,...,...,...,...,...,...,...,...,...
5824,2019,1462,0.545455,0.454545,71.878788,0.469058,0.332474,0.269279,0.567454,0.063174,2.814150
5825,2019,1463,0.724138,0.275862,80.655172,0.492457,0.365891,0.262077,0.556095,0.069174,2.989768
5826,2019,1464,0.333333,0.666667,73.500000,0.422696,0.348279,0.362828,0.510154,0.058399,2.547368
5827,2019,1465,0.461538,0.538462,75.461538,0.444370,0.351052,0.334874,0.401812,0.044321,3.026695
5828,2019,1466,0.241379,0.758621,65.620690,0.384144,0.295101,0.318489,0.448570,0.038411,2.413262

In [ ]:
#Features.to_csv("Perfo_features.csv")

## Features de Seed

In [25]:
tourney_seed = pd.read_csv('data/Stage1/MNCAATourneySeeds.csv')

In [26]:
tourney_seed

      Season Seed  TeamID
0       1985  W01    1207
1       1985  W02    1210
2       1985  W03    1228
3       1985  W04    1260
4       1985  W05    1374
...      ...  ...     ...
2281    2019  Z12    1332
2282    2019  Z13    1414
2283    2019  Z14    1330
2284    2019  Z15    1159
2285    2019  Z16    1205

[2286 rows x 3 columns]

In [27]:
tourney_result = pd.merge(df, tourney_seed, left_on=['Season', 'Team0_ID'], right_on=['Season', 'TeamID'], how='left')
tourney_result.rename(columns={'Seed':'SeedT1'}, inplace=True)
tourney_result = tourney_result.drop('TeamID', axis=1)
tourney_result = pd.merge(tourney_result, tourney_seed, left_on=['Season', 'Team1_ID'], right_on=['Season', 'TeamID'], how='left')
tourney_result.rename(columns={'Seed':'SeedT2'}, inplace=True)
tourney_result = tourney_result.drop('TeamID', axis=1)

In [28]:
tourney_result

       Season  DayNum  Team0_ID  Team1_ID SeedT1 SeedT2
0        2003     134      1411      1421   X16a   X16b
1        2003     136      1112      1436    Z01    Z16
2        2003     136      1113      1272    Z10    Z07
3        2003     136      1141      1166    Z11    Z06
4        2003     136      1143      1301    W08    W09
...       ...     ...       ...       ...    ...    ...
88614    2019     132      1153      1222    Z07    Y03
88615    2019     132      1209      1426    Y14    NaN
88616    2019     132      1276      1277    X02    W02
88617    2019     132      1382      1387    NaN    W13
88618    2019     132      1217      1463    NaN    W14

[88619 rows x 6 columns]

In [29]:
tourney_result = pd.merge(tourney_result,Features,left_on = ['Season','Team0_ID'], right_on=['Season','TeamID'], how='left')
tourney_result = pd.merge(tourney_result,Features,left_on = ['Season','Team1_ID'], right_on=['Season','TeamID'], how='left')

In [30]:
tourney_result.isnull().sum()

Season                0
DayNum                0
Team0_ID              0
Team1_ID              0
SeedT1            70016
SeedT2            69138
TeamID_x             58
PourVictoire_x       58
PourcDefaite_x       58
Score_x              58
Pre_x                58
Pre3_x               58
Pourc3_x             58
PourcAst_x           58
Blocks_x             58
RecupBall_x          58
TeamID_y             82
PourVictoire_y       82
PourcDefaite_y       82
Score_y              82
Pre_y                82
Pre3_y               82
Pourc3_y             82
PourcAst_y           82
Blocks_y             82
RecupBall_y          82
dtype: int64

In [31]:
tourney_result=tourney_result.dropna()

In [32]:
def get_seed(x):
    return str(x[0])

tourney_result['ConfT1'] = tourney_result['SeedT1'].map(lambda x: get_seed(x))
tourney_result['ConfT2'] = tourney_result['SeedT2'].map(lambda x: get_seed(x))

In [33]:
def get_seed(x):
    return int(x[1:3])

tourney_result['SeedT1'] = tourney_result['SeedT1'].map(lambda x: get_seed(x))
tourney_result['SeedT2'] = tourney_result['SeedT2'].map(lambda x: get_seed(x))

In [34]:
tourney_result['Seed_diff'] = tourney_result['SeedT1'] - tourney_result['SeedT2']

In [35]:
tourney_result = tourney_result.reset_index(drop = True)

In [36]:
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [37]:
from sklearn.preprocessing import LabelBinarizer

jobs_encoder = LabelBinarizer()
jobs_encoder.fit(tourney_result['ConfT1'])
transformed = jobs_encoder.transform(tourney_result['ConfT1'])
ohe_df = pd.DataFrame(transformed)
tourney_result = pd.concat([tourney_result, ohe_df], axis=1)

In [38]:
tourney_result.rename(columns={0:'W1',1:'X1',2:'Z1',3:'Y1'}, inplace=True)

In [39]:
tourney_result = tourney_result.drop('ConfT1', axis=1)

In [40]:
jobs_encoder = LabelBinarizer()
jobs_encoder.fit(tourney_result['ConfT2'])
transformed = jobs_encoder.transform(tourney_result['ConfT2'])
ohe_df = pd.DataFrame(transformed)
tourney_result = pd.concat([tourney_result, ohe_df], axis=1)

In [41]:
tourney_result.rename(columns={0:'W2',1:'X2',2:'Z2',3:'Y2'}, inplace=True)

In [42]:
tourney_result=tourney_result.drop('ConfT2', axis=1)

In [43]:
#tourney_result.to_csv('df.csv',sep='\t',index=False)

# Modélisation et apprentissage

## Données test pour l'apprentissage

In [44]:
tourney_result

,Season,DayNum,Team0_ID,Team1_ID,SeedT1,SeedT2,TeamID_x,PourVictoire_x,PourcDefaite_x,Score_x,...,RecupBall_y,Seed_diff,W1,X1,Z1,Y1,W2,X2,Z2,Y2
0,2003,134,1411,1421,16,16,1411.0,0.580645,0.419355,73.161290,...,2.104278,0,0,1,0,0,0,1,0,0
1,2003,136,1112,1436,1,16,1112.0,0.875000,0.125000,85.156250,...,2.430816,-15,0,0,0,1,0,0,0,1
2,2003,136,1113,1272,10,7,1113.0,0.612903,0.387097,76.225806,...,2.605359,3,0,0,0,1,0,0,0,1
3,2003,136,1141,1166,11,6,1141.0,0.774194,0.225806,78.709677,...,2.460588,5,0,0,0,1,0,0,0,1
4,2003,136,1143,1301,8,9,1143.0,0.709677,0.290323,74.225806,...,2.209694,-1,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6067,2019,131,1246,1397,2,2,1246.0,0.810811,0.189189,75.837838,...,3.240449,0,0,0,1,0,0,0,0,1
6068,2019,131,1371,1437,10,6,1371.0,0.588235,0.411765,73.764706,...,3.002981,4,0,0,1,0,0,0,0,1
6069,2019,132,1120,1397,5,2,1120.0,0.743590,0.256410,79.102564,...,3.240449,3,0,0,1,0,0,0,0,1
6070,2019,132,1153,1222,7,3,1153.0,0.800000,0.200000,71.714286,...,3.416474,4,0,0,0,1,0,0,1,0
6071,2019,132,1276,1277,2,2,1276.0,0.810811,0.189189,69.594595,...,3.110415,0,0,1,0,0,1,0,0,0

In [ ]:
Train = tourney_result.loc[tourney_result['Season']>=2003]
Train = tourney_result.loc[tourney_result['Season']<=2014]


X_train = Train.drop('WTeam', axis=1)
y_train = Train.WTeam

In [ ]:
y_train.astype('category').values

In [ ]:
Test = tourney_result.loc[tourney_result['Season']>=2015]
X_test = Test.drop('WTeam', axis=1)
y_test = Test.WTeam

In [ ]:
y_test.astype('category').values

In [ ]:
X_test

# Transformation des données pour l'apprentissage

## Decision Tree Regressor

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix
import gc

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# Decision Trees Parameters
dtp_params = {'max_features': ('sqrt','log2'),
    'max_depth': [4,5,6,7,8,9],
    'min_samples_leaf': [2,3,4,5]}
NFOLDS = 10
folds = KFold(n_splits=NFOLDS)
splits = folds.split(X_train, y_train)

decitree = DecisionTreeClassifier()
dtr = GridSearchCV(decitree, dtp_params, scoring='neg_log_loss', refit=True, cv = splits)
dtr.fit(X_train,y_train)


dtr.score(X_test,y_test)

#np.set_printoptions(precision=2)
# Plot non-normalized confusion matrix
titles_options = [("Confusion matrix, without normalization", None),
                  ("Normalized confusion matrix", 'true')]
for title, normalize in titles_options:
    disp = plot_confusion_matrix(dtr, X_test, y_test,
                                 cmap=plt.cm.Blues,
                                 normalize=normalize)
    disp.ax_.set_title(title)

    print(title)
    print(disp.confusion_matrix)

plt.show()

dtr_yhat_prob = dtr.predict_proba(X_test)[:,1]
dtr_yhat = dtr.predict(X_test)

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr_params = {'C': np.logspace(start=-5, stop=3, num=100)}
NFOLDS = 10
folds = KFold(n_splits=NFOLDS)
splits = folds.split(X_train, y_train)
logreg = LogisticRegression()
lr = GridSearchCV(logreg, lr_params, scoring='neg_log_loss', refit=True, cv = splits)
lr.fit(X_train,y_train)

In [ ]:
titles_options = [("Confusion matrix, without normalization", None),
                  ("Normalized confusion matrix", 'true')]
for title, normalize in titles_options:
    disp = plot_confusion_matrix(lr, X_test, y_test,
                                 cmap=plt.cm.Blues,
                                 normalize=normalize)
    disp.ax_.set_title(title)

    print(title)
    print(disp.confusion_matrix)

plt.show()

lr.score(X_test,y_test)
lr_yhat_prob = lr.predict_proba(X_test)[:,1]
lr_yhat = lr.predict(X_test)
lr_ytest = lr.predict(test_df)

## AdaBoost Regressor

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
NFOLDS = 10
folds = KFold(n_splits=NFOLDS)
splits = folds.split(X_train, y_train)


ada_params = {
    'n_estimators': [400,500,600],
    'learning_rate' : [0.01,0.1,0.8,1.0,1.2],
}
ada = AdaBoostClassifier()
adr = GridSearchCV(ada, ada_params, scoring='neg_log_loss', refit=True, cv = splits)
adr.fit(X_train, y_train)

titles_options = [("Confusion matrix, without normalization", None),
                  ("Normalized confusion matrix", 'true')]
for title, normalize in titles_options:
    disp = plot_confusion_matrix(adr, X_test, y_test,
                                 cmap=plt.cm.Blues,
                                 normalize=normalize)
    disp.ax_.set_title(title)

    print(title)
    print(disp.confusion_matrix)

plt.show()

adr.score(X_test,y_test)
adr_yhat_prob = adr.predict_proba(X_test)[:,1]
adr_yhat = adr.predict(X_test)

#adr_ytest=adr.predict(test_df)

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

NFOLDS = 10
folds = KFold(n_splits=NFOLDS)
splits = folds.split(X_train, y_train)

rf_params = {
    'n_estimators': [400,600], 
     #'max_features': [0.2,0.4,0,8],
    'max_depth': [4,8],
    'min_samples_leaf': [2,4]
}

rf = RandomForestClassifier(n_jobs=-1,warm_start= True,verbose=0,max_features='sqrt')
rf_search = GridSearchCV(rf, rf_params, scoring='neg_log_loss', refit=True, cv = splits)
rf_search.fit(X_train, y_train)

titles_options = [("Confusion matrix, without normalization", None),
                  ("Normalized confusion matrix", 'true')]
for title, normalize in titles_options:
    disp = plot_confusion_matrix(rf_search, X_test, y_test,
                                 cmap=plt.cm.Blues,
                                 normalize=normalize)
    disp.ax_.set_title(title)

    print(title)
    print(disp.confusion_matrix)

plt.show()

rf_search.score(X_test,y_test)
rf_yhat_prob = rf_search.predict_proba(X_test)[:,1]
rf_yhat = rf_search.predict(X_test)

#rf_ytest = rf_search.predict(test_df)

# Interprétation des résultats

In [ ]:
dtr_feature = dtr.best_estimator_.feature_importances_
lr_feature = lr.best_estimator_.coef_
adr_feature = adr.best_estimator_.feature_importances_
rf_search_feature = rf_search.best_estimator_.feature_importances_

In [ ]:
dtr_features = [x for x in dtr_feature]
lr_features = [x for x in lr_feature[0]]
adr_features = [x for x in adr_feature]
rf_search_features = [x for x in rf_search_feature]

On affiche cela dans un dataframe pour que ça soit plus lisible

In [ ]:
cols = X_train.columns.values
# Create a dataframe with features
feature_dataframe = pd.DataFrame( {'features': cols,
     'Decision Tree feature importances': dtr_features,
     'Logistic Regression feature importances': lr_features,
      'AdaBoost feature importances': adr_features,
    'Random Forest feature importances': rf_search_features
    })

In [ ]:
feature_dataframe

# Deuxième prédiction à partir de la sortie du premier modèle

In [ ]:
base_predictions_train = pd.DataFrame( {'DecisionTreeClassifier': dtr.predict(X_train).ravel(),
     'LogisticRegression': lr.predict(X_train).ravel(),
     'AdaBoost': adr.predict(X_train).ravel(),
      'RandomForest': rf_search.predict(X_train).ravel()
    })
base_predictions_train.head()

In [ ]:
!pip install plotly

In [ ]:
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

data = [
    go.Heatmap(
        z= base_predictions_train.astype(float).corr().values ,
        x=base_predictions_train.columns.values,
        y= base_predictions_train.columns.values,
          colorscale='Viridis',
            showscale=True,
            reversescale = True
    )
]
py.iplot(data, filename='labelled-heatmap')

In [ ]:
x_train = np.concatenate(( dtr.predict(X_train).reshape(-1,1), lr.predict(X_train).reshape(-1,1), 
                          adr.predict(X_train).reshape(-1,1), rf_search.predict(X_train).reshape(-1,1)), axis=1)
x_test = np.concatenate(( dtr_yhat.reshape(-1,1), lr_yhat.reshape(-1,1),
                         adr_yhat.reshape(-1,1), rf_yhat.reshape(-1,1)), axis=1)

df_train = pd.DataFrame()
df_train['DecisionTreeClassifier']=dtr.predict(X_train)
df_train['LogisticRegression']=lr.predict(X_train)
df_train['AdaBoost']=adr.predict(X_train)
df_train['RandomForest']=rf_search.predict(X_train)
x_train = df_train

df_test = pd.DataFrame()
df_test['DecisionTreeClassifier']=dtr_yhat
df_test['LogisticRegression']=lr_yhat
df_test['AdaBoost']=adr_yhat
df_test['RandomForest']=rf_yhat
x_test = df_test

df_test_set = pd.DataFrame()

df_test_set['DecisionTreeClassifier']=dtr_ytest
df_test_set['LogisticRegression']=lr_ytest
df_test_set['AdaBoost']=adr_ytest
df_test_set['RandomForest']=rf_ytest

test_df=df_test_set

## XGBoost

In [ ]:
!pip install xgboost

In [ ]:
import xgboost as xgb
from xgboost import XGBRegressor

In [ ]:
params_xgb = {'colsample_bytree': 0.8,                 
              'learning_rate': 0.0003,
              'max_depth': 31,
              'subsample': 1,
              'objective':'binary:logistic',
              'eval_metric':'logloss',
              'min_child_weight':3,
              'gamma':0.25,
              'n_estimators':5000,
              'verbosity':0
              }

In [ ]:
NFOLDS = 10
folds = KFold(n_splits=NFOLDS)
columns = x_train.columns
splits = folds.split(x_train, y_train)

y_preds_xgb = np.zeros(test_df.shape[0])
y_train_xgb = np.zeros(x_train.shape[0])
y_test_xgb = np.zeros(x_test.shape[0])

train_df_set = xgb.DMatrix(x_train)
test_df_set = xgb.DMatrix(x_test)
test_set = xgb.DMatrix(test_df)
  
for fold_n, (train_index, valid_index) in enumerate(splits):
    print('Fold:',fold_n+1)
    X_train_f, X_valid_f = x_train[columns].iloc[train_index], x_train[columns].iloc[valid_index]
    y_train_f, y_valid_f = y_train.iloc[train_index], y_train.iloc[valid_index]
    
    train_set = xgb.DMatrix(X_train_f, y_train_f)
    val_set = xgb.DMatrix(X_valid_f, y_valid_f)
    
    clf = xgb.train(params_xgb, train_set, num_boost_round=5000, evals=[(train_set, 'train'), (val_set, 'val')], verbose_eval=100)
    
    y_train_xgb += clf.predict(train_df_set) / NFOLDS
    y_preds_xgb += clf.predict(test_set) / NFOLDS
    y_test_xgb  += clf.predict(test_df_set) / NFOLDS
    del X_train_f, X_valid_f, y_train_f, y_valid_f
    gc.collect()

In [ ]:
import seaborn as sns
from sklearn.metrics import confusion_matrix
def plot_cm(y_true, y_pred, title, figsize=(7,6)):
    y_pred = y_pred.round().astype(int)
    cm = confusion_matrix(y_true, y_pred, labels=np.unique(y_true))
    cm_sum = np.sum(cm, axis=1, keepdims=True)
    cm_perc = cm / cm_sum.astype(float) * 100
    annot = np.empty_like(cm).astype(str)
    nrows, ncols = cm.shape
    for i in range(nrows):
        for j in range(ncols):
            c = cm[i, j]
            p = cm_perc[i, j]
            if i == j:
                s = cm_sum[i]
                annot[i, j] = '%.1f%%\n%d/%d' % (p, c, s)
            elif c == 0:
                annot[i, j] = ''
            else:
                annot[i, j] = '%.1f%%\n%d' % (p, c)
    cm = pd.DataFrame(cm, index=np.unique(y_true), columns=np.unique(y_true))
    cm.index.name = 'Current'
    cm.columns.name = 'Predicted'
    fig, ax = plt.subplots(figsize=figsize)
    plt.title(title)
    sns.heatmap(cm, cmap= "YlGnBu", annot=annot, fmt='', ax=ax)

In [ ]:
plot_cm(y_test, y_test_xgb, 'Confusion matrix for XGB model')

# Formatage du fichier à soumettre

In [ ]:
sub_file = pd.read_csv('data/MSampleSubmissionStage1_2020.csv')

In [ ]:
sub_file['Pred']=y_preds_xgb

In [ ]:
sub_file.head()

In [ ]:
sub_file.to_csv("submission_file.csv",index=False)

In [ ]:
!pip install kaggle

In [ ]:
!mv kaggle.json ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions submit -c google-cloud-ncaa-march-madness-2020-division-1-mens-tournament -f submission_file.csv -m "First submission Hackaton"