In [30]:
import pandas as pd
import numpy as np

In [31]:
MNCAATourneyDetailedResults = pd.read_csv('data/Stage1/MNCAATourneyDetailedResults.csv')
Features = pd.read_csv('data/Stage1/MNCAATourneyDetailedResults.csv')

In [32]:
MNCAATourneyDetailedResults = MNCAATourneyDetailedResults.loc[MNCAATourneyDetailedResults['Season'] >= 2003]
MNCAATourneyDetailedResults = MNCAATourneyDetailedResults.loc[MNCAATourneyDetailedResults['Season'] <= 2014]
MNCAATourneyDetailedResults = MNCAATourneyDetailedResults[['Season','DayNum','WTeamID','LTeamID']]
MNCAATourneyDetailedResults.loc[:,'Competition'] = 'MNCAA'
MNCAATourneyDetailedResults.loc[:,'WTeam'] = 0

for i,_ in enumerate(MNCAATourneyDetailedResults.iterrows()):
    if MNCAATourneyDetailedResults.iloc[i,2] > MNCAATourneyDetailedResults.iloc[i,3] :
        MNCAATourneyDetailedResults.iloc[i,2],MNCAATourneyDetailedResults.iloc[i,3] = MNCAATourneyDetailedResults.iloc[i,3],MNCAATourneyDetailedResults.iloc[i,2]
        MNCAATourneyDetailedResults.iloc[i,5] = 1
        
MNCAATourneyDetailedResults = MNCAATourneyDetailedResults.rename(columns={"WTeamID": "Team0_ID", "LTeamID": "Team1_ID"})

MNCAATourneyDetailedResults

     Season  DayNum  Team0_ID  Team1_ID Competition  WTeam
0      2003     134      1411      1421       MNCAA      1
1      2003     136      1112      1436       MNCAA      0
2      2003     136      1113      1272       MNCAA      0
3      2003     136      1141      1166       MNCAA      0
4      2003     136      1143      1301       MNCAA      0
..      ...     ...       ...       ...         ...    ...
775    2014     146      1163      1277       MNCAA      0
776    2014     146      1246      1276       MNCAA      0
777    2014     152      1163      1196       MNCAA      0
778    2014     152      1246      1458       MNCAA      0
779    2014     154      1163      1246       MNCAA      0

[780 rows x 6 columns]

In [33]:
MRegularSeasonDetailedResults = pd.read_csv('data/Stage1/MRegularSeasonDetailedResults.csv')
MRegularSeasonDetailedResults = MRegularSeasonDetailedResults.loc[MRegularSeasonDetailedResults['Season'] >= 2003]
MRegularSeasonDetailedResults = MRegularSeasonDetailedResults[['Season','DayNum','WTeamID','LTeamID']]
MRegularSeasonDetailedResults.loc[:,'Competition'] = 'RegularSeason'
MRegularSeasonDetailedResults.loc[:,'WTeam'] = 0

for i,_ in enumerate(MRegularSeasonDetailedResults.iterrows()):
    if MRegularSeasonDetailedResults.iloc[i,2] > MRegularSeasonDetailedResults.iloc[i,3] :
        MRegularSeasonDetailedResults.iloc[i,2],MRegularSeasonDetailedResults.iloc[i,3] = MRegularSeasonDetailedResults.iloc[i,3],MRegularSeasonDetailedResults.iloc[i,2]
        MRegularSeasonDetailedResults.iloc[i,5] = 1
        
MRegularSeasonDetailedResults = MRegularSeasonDetailedResults.rename(columns={"WTeamID": "Team0_ID", "LTeamID": "Team1_ID"})

MRegularSeasonDetailedResults

       Season  DayNum  Team0_ID  Team1_ID    Competition  WTeam
0        2003      10      1104      1328  RegularSeason      0
1        2003      10      1272      1393  RegularSeason      0
2        2003      11      1266      1437  RegularSeason      0
3        2003      11      1296      1457  RegularSeason      0
4        2003      11      1208      1400  RegularSeason      1
...       ...     ...       ...       ...            ...    ...
87499    2019     132      1153      1222  RegularSeason      0
87500    2019     132      1209      1426  RegularSeason      0
87501    2019     132      1276      1277  RegularSeason      1
87502    2019     132      1382      1387  RegularSeason      1
87503    2019     132      1217      1463  RegularSeason      1

[87504 rows x 6 columns]

In [ ]:
df = pd.concat([MNCAATourneyDetailedResults,MRegularSeasonDetailedResults])
df

In [40]:
MNCAA = pd.read_csv('data/Stage1/MNCAATourneyDetailedResults.csv')
MNCAA =pd.DataFrame(MNCAA)
RegularSeason= pd.read_csv('data/Stage1/MRegularSeasonDetailedResults.csv')
RegularSeason = pd.DataFrame(RegularSeason)
Features = pd.concat([MNCAA,RegularSeason])

In [45]:
Features

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87499,2019,132,1153,69,1222,57,N,0,22,50,...,33,11,18,17,16,8,7,2,4,19
87500,2019,132,1209,73,1426,64,N,0,20,50,...,33,11,17,13,28,12,14,5,2,24
87501,2019,132,1277,65,1276,60,N,0,22,55,...,25,10,12,3,26,17,6,5,5,11
87502,2019,132,1387,55,1382,53,N,0,22,59,...,19,8,10,13,30,9,11,2,7,16
87503,2019,132,1463,97,1217,85,H,0,32,53,...,32,19,24,12,15,7,9,1,2,22

In [53]:
df['WPre'] = df['WFGM']/df['WFGA']
df['LPre'] = df['LFGM']/df['LFGA']

df['WPre3'] = df['WFGM3']/df['WFGA3']
df['LPre3'] = df['LFGM3']/df['LFGA3']

df['WPourc3'] = df['WFGM3']/df['WFGM']
df['LPourc3'] = df['LFGM3']/df['LFGM']


df['WPourcAst'] = df['WAst']/df['WFGM']
df['LPourcAst'] = df['LAst']/df['LFGM']

In [54]:
df['WBlocks'] = (df['WBlk']) / (df['LFGA'])
df['LBlocks'] = (df['LBlk']) / (df['WFGA'])

df['WBlocks'] = (df['WBlk']) / (df['LFGA'])
df['LBlocks'] = (df['LBlk']) / (df['WFGA'])

df['WRecupBall'] = (df['WDR']+df['WStl']) / df['WTO']
df['LRecupBall'] = (df['LDR']+df['LStl']) / df['LTO']

In [55]:
df = df[['Season','DayNum','Team0_ID','Team1_ID','WTeam','WPre','LPre','WPre3','LPre3','WPourc3','LPourc3','WPourcAst','LPourcAst','WBlocks','LBlocks','WBlocks','LBlocks','WRecupBall','LRecupBall']]

In [56]:
df

,Season,DayNum,Team0_ID,Team1_ID,WTeam,WPre,LPre,WPre3,LPre3,WPourc3,LPourc3,WPourcAst,LPourcAst,WBlocks,LBlocks,WBlocks,LBlocks,WRecupBall,LRecupBall
0,2003,134,92,1411,0,0.463768,0.432836,0.379310,0.387097,0.343750,0.413793,0.531250,0.551724,0.044776,0.000000,0.044776,0.000000,2.916667,2.200000
1,2003,136,80,1436,0,0.469697,0.312500,0.304348,0.250000,0.225806,0.200000,0.709677,0.600000,0.109375,0.045455,0.109375,0.045455,2.875000,2.117647
2,2003,136,84,1272,0,0.525424,0.362319,0.428571,0.250000,0.193548,0.280000,0.580645,0.440000,0.057971,0.084746,0.057971,0.084746,3.777778,2.000000
3,2003,136,79,1166,0,0.547170,0.450000,0.428571,0.411765,0.103448,0.259259,0.517241,0.740741,0.016667,0.113208,0.016667,0.113208,1.833333,1.095238
4,2003,136,76,1301,0,0.421875,0.446429,0.350000,0.428571,0.259259,0.360000,0.629630,0.640000,0.035714,0.125000,0.035714,0.125000,2.153846,2.214286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87499,2019,132,69,1222,0,0.440000,0.306452,0.352941,0.242424,0.272727,0.421053,0.272727,0.421053,0.048387,0.080000,0.048387,0.080000,2.636364,2.571429
87500,2019,132,73,1426,0,0.400000,0.359375,0.363636,0.212121,0.400000,0.304348,0.400000,0.521739,0.078125,0.040000,0.078125,0.040000,3.500000,2.357143
87501,2019,132,65,1276,0,0.400000,0.411765,0.391304,0.320000,0.409091,0.380952,0.636364,0.809524,0.117647,0.090909,0.117647,0.090909,3.222222,5.166667
87502,2019,132,55,1382,0,0.372881,0.339286,0.181818,0.368421,0.181818,0.368421,0.590909,0.473684,0.142857,0.118644,0.142857,0.118644,5.166667,2.909091
87503,2019,132,97,1217,0,0.603774,0.451613,0.454545,0.312500,0.156250,0.357143,0.343750,0.250000,0.080645,0.037736,0.080645,0.037736,3.857143,1.777778

In [0]:
df.to_csv('df.csv',sep='\t',index=False)